/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #36424a;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(100,100,100,1);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #fff;
}

*:focus {
    outline: none;
}

body {
    font: 14pt/1.8em 'Titillium Web', sans-serif;
    margin: 0 auto;
    padding: 0;
    background: #fff;
    color: #333;
    text-shadow: none !important;

}

a,
a:hover {
    text-decoration: none;
    color: #333;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Titillium Web', sans-serif;
}

.core-caption h2 {
	font-weight: 100;
	font-size: 26pt;
}

.tm-logo {
    padding: 10px 0;
    float: left;
}

.tm-logo-title {
    font-size: 18pt;
    padding:  25px 0 0 70px;
    white-space: nowrap;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #c32424;
    transition: all .4s ease, opacity .3s ease;
}

.tm-logo-title div {
    display: none;
    color: #666;
    font-size: 12pt;
    text-transform: none;
    line-height: 1;
    padding: 0 1px; 
}

@media(min-width: 800px) {
    .tm-logo-title {
        font-size: normal;
    }    

    .tm-logo-title div {
        display: block;
    }
}



.tm-header {
    background: #ddbd3b;
    color: #fff;
    font-size: 10pt;
    line-height: normal;
    padding: 10px 0;
}

.tm-header marquee {
    padding: 0;
    margin: 0;
}


#logo {
    padding-left: 0;
}

@media (max-width: 480px) {
    #logo {
        padding-top: 5px !important;
    }

	#logo img {
		height: 60px;
		margin-top: 10px;
        padding: 0;
        position: absolute;
        left: 30px;
        top: auto; 
    }

    .tm-logo-title {
        text-align: left;
        white-space: pre-wrap;
    }
}

#top-bar {
    background: #c32424;
    font-size: 10pt;
	border: #none;
    text-shadow: none;
}

#top-bar a {
    color: #fff;
}

.top-links ul li {
	border-color: #5A492E;
}

.top-links ul li a:hover {
    background-color: #000;
}

.core-navbar a div {
	font-weight: 500 ;
}

.core-heading-block h4 {
	font-weight: 700;
	font-size: 20px;
	margin: 0;
	line-height: 1;
}


.core-heading-block > span {
	font-size: 18px !important;
}

#top-bar {
    background-color: #e73b33;
    color: #fff;
}

#footer.dark, .dark #footer {
	background-color: #1e252f !important;
}

.core-counter {
	font-family: 'Open Sans', sans-serif;
}

.core-counter h5 {
	font-weight: 400;
}

.text-warning {
	color: #fc0 !important;
}

/*
 * Adding new style for member by Encodemo
*/

.mbrMenu ul li a {
	color: #444444;
	font-weight: bold;
}

.mbrMenu ul li a:hover {
	color: #6699ff;
	font-weight: bold;
}

/*.list-group-item {
	border-left: 0px !important;
	border-right: 0px !important;
}

.list-group-item:first-child {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.list-group-item:last-child {
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}*/

.img-profile {
	background-color: #e5e5e5;
	border-radius: 50%;
	height: 240px;
	margin: 0px auto;
	overflow: hidden;
	width: 240px;
}

.gallery-image img {
	max-width: 150px;
}

#page-menu {
}

#page-menu-wrap {
	padding-top:8px;
	height: 60px;
	background-color: #f2f2f2;
}

#page-menu .menu-title,
#page-menu nav li a {
	text-shadow: none;
	color: #333 !important;
}

.flex, .flex div[class*='col-'] {
	min-height: 150px;
}

.bgicon {
    bottom: 50px;
    right: -10px;
}

.top-links ul ul, .top-links ul div.top-link-section {
    background-color: #000;
    border-radius: 0;
    border: none;
}
#primary-menu ul li a {
    font-family: 'Nunito', sans-serif;
}
.sticky-header .tm-logo-title {
    font-size: 10pt;
    padding: 5px 0 0 45px;    
}

.sticky-header .tm-logo-title div {
    line-height: 0;
}